name: Compile Calibration Cert Documentation to Markdown

on:
  push:
    branches:
      - calibration_schema
    paths:
      - 'schema/**'
      - '.github/workflows/compile_cert_docs.yml'
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'calibration_schema'

#       - name: Copy schema
#         run: cp ./schema/iea43_wra_data_model.schema.json ./app/src/schema.json

      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'

      - name: Install jsonschema2md
        run: npm install -g @adobe/jsonschema2md

      - name: Clear docs folder
        run: rm -rf digital_calibration_certificate/docs

      - name: Compile docs to Markdown
        run: jsonschema2md -d digital_calibration_certificate/schema -o digital_calibration_certificate/docs -h false

      - name: Commit files
        continue-on-error: true
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add digital_calibration_certificate/docs
          git commit -m "Compile documentation"
          
      - name: Push changes
        continue-on-error: true
        uses: ad-m/github-push-action@calibration_schema
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
 
